In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
data1 = pd.read_csv('./已证实基因1235.csv')
data1.head()

    ProteinID               Trait     GeneID
0  A0A178WF56  drought_resistance  AT1G56060
1  A0A178WF56     salt_resistance  AT1G56060
2      A0MES8  drought_resistance  AT2G40220
3      A0MES8     salt_resistance  AT2G40220
4      F4HYF3  drought_resistance  AT1G48420

In [3]:
print(len(data1))
data1 = data1.drop_duplicates(subset=['GeneID','Trait'])
print(len(data1))

1235
1203

In [4]:
j = pd.read_csv('./已证实基因1235.csv')
j.head()

    ProteinID               Trait     GeneID
0  A0A178WF56  drought_resistance  AT1G56060
1  A0A178WF56     salt_resistance  AT1G56060
2      A0MES8  drought_resistance  AT2G40220
3      A0MES8     salt_resistance  AT2G40220
4      F4HYF3  drought_resistance  AT1G48420

In [5]:
data = pd.read_csv('./daochu1.csv')
data.head()

,id,entity,Date_of_Creation,Disruption_Phenotype,Ec_number,Function_Description,GeneID,KOG,KO_Identity,Location,...,Species,TranscriptName,Type,start,end,relation,bitscore,identity,qaccver,saccver
0,0.0,:Gene,NaN,NaN,NaN,NaN,TraesCS6B02G350400,NaN,NaN,6B:615605331-615606561,...,Triticum aestivum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,:Gene,NaN,NaN,NaN,NaN,TraesCS6A02G319600,NaN,NaN,6A:555088987-555089748,...,Triticum aestivum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,:Gene,NaN,NaN,NaN,NaN,TraesCS4D02G298400,NaN,NaN,4D:467635163-467636763,...,Triticum aestivum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,:Gene,NaN,NaN,NaN,NaN,Zm00001d052087,NaN,NaN,4:181090289-181092346,...,Zea mays,Zm00001d052087_T001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,:Gene,NaN,NaN,NaN,NaN,TraesCS6A02G343300,NaN,NaN,6A:577721892-577725302,...,Triticum aestivum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
j = pd.merge(j,data[['GeneID','id']],on='GeneID')
len(j)

1235

In [7]:
j.rename(columns={'ProteinID':'ProteinID','Trait':'Trait','GeneID':'GeneID','id':'Gid'},inplace=True)
j.head()

    ProteinID               Trait     GeneID      Gid
0  A0A178WF56  drought_resistance  AT1G56060  62514.0
1  A0A178WF56     salt_resistance  AT1G56060  62514.0
2      A0MES8  drought_resistance  AT2G40220  62515.0
3      A0MES8     salt_resistance  AT2G40220  62515.0
4      F4HYF3  drought_resistance  AT1G48420  62555.0

In [8]:
j = pd.merge(j,data[['ProteinID','id']],on='ProteinID')
j.rename(columns={'ProteinID':'ProteinID','Trait':'Trait','GeneID':'GeneID','Gid':'Gid','id':'Pid'},inplace=True)
len(j)

1235

In [9]:
r4 = pd.read_csv("./duoxiao01.csv")
r4.head()

,g1,end,relation,eentity,g2,g2t,pd2
0,62514.0,118130.0,involves_in,:Biological_Process,62671.0,drought_resistance,O22446
1,62514.0,118130.0,involves_in,:Biological_Process,62671.0,salt_resistance,O22446
2,3816.0,118130.0,involves_in,:Biological_Process,62671.0,drought_resistance,O22446
3,3816.0,118130.0,involves_in,:Biological_Process,62671.0,salt_resistance,O22446
4,8807.0,118130.0,involves_in,:Biological_Process,62671.0,drought_resistance,O22446

In [10]:
len(r4)

12920884

In [11]:
gene = pd.read_csv('./Protein-iscorrespondingto-gene（错误信息存在）.csv')
gene.head()

    ProteinID     GeneID
0  A0A384KK78  AT1G56060
1  A0A178WF56  AT1G56060
2      F4I3J1  AT1G56060
3      A0MES8  AT2G40220
4  A0A654F0J2  AT2G40220

In [12]:
len(gene)

76427

In [13]:
gene=pd.merge(gene,data[['id','GeneID']],on='GeneID')
len(gene)

76427

In [14]:
gene.head()

    ProteinID     GeneID       id
0  A0A384KK78  AT1G56060  62514.0
1  A0A178WF56  AT1G56060  62514.0
2      F4I3J1  AT1G56060  62514.0
3      A0MES8  AT2G40220  62515.0
4  A0A654F0J2  AT2G40220  62515.0

In [15]:
r5 = pd.merge(r4,gene[['id','ProteinID']],left_on='g1',right_on='id')
r5.drop(columns=['id'],inplace=True)
r5.rename(columns={'g1':'g1','end':'end','relation':'relation','eentity':'eentity','g2':'g2','g2t':'g2t','ProteinID':'pd1'},inplace=True)
r5.head()

,g1,end,relation,eentity,g2,g2t,pd2,pd1
0,62514.0,118130.0,involves_in,:Biological_Process,62671.0,drought_resistance,O22446,A0A384KK78
1,62514.0,118130.0,involves_in,:Biological_Process,62671.0,drought_resistance,O22446,A0A178WF56
2,62514.0,118130.0,involves_in,:Biological_Process,62671.0,drought_resistance,O22446,F4I3J1
3,62514.0,118130.0,involves_in,:Biological_Process,62671.0,salt_resistance,O22446,A0A384KK78
4,62514.0,118130.0,involves_in,:Biological_Process,62671.0,salt_resistance,O22446,A0A178WF56

In [16]:
len(r5)

39604805

In [17]:
r5['qs']=r5['pd1'] + r5['pd2']
r5.head()

,g1,end,relation,eentity,g2,g2t,pd2,pd1,qs
0,62514.0,118130.0,involves_in,:Biological_Process,62671.0,drought_resistance,O22446,A0A384KK78,A0A384KK78O22446
1,62514.0,118130.0,involves_in,:Biological_Process,62671.0,drought_resistance,O22446,A0A178WF56,A0A178WF56O22446
2,62514.0,118130.0,involves_in,:Biological_Process,62671.0,drought_resistance,O22446,F4I3J1,F4I3J1O22446
3,62514.0,118130.0,involves_in,:Biological_Process,62671.0,salt_resistance,O22446,A0A384KK78,A0A384KK78O22446
4,62514.0,118130.0,involves_in,:Biological_Process,62671.0,salt_resistance,O22446,A0A178WF56,A0A178WF56O22446

In [18]:
search = data[['identity','qaccver','saccver']]
search.dropna(inplace=True)
search.head()

        identity     qaccver     saccver
481644   100.000  A0A178WF56  A0A384KK78
481645    98.246  A0A178WF56      F4I3J1
481646    99.390      A0MES8  A0A654F0J2
481647    99.085      A0MES8  A0A178VY49
481648    78.049      A0MES8  A0A3B5Y0P5

In [19]:
search['qs']=search['qaccver'] + search['saccver']
search['sq']=search['saccver'] + search['qaccver']
search.head()

,identity,qaccver,saccver,qs,sq
481644,100.000,A0A178WF56,A0A384KK78,A0A178WF56A0A384KK78,A0A384KK78A0A178WF56
481645,98.246,A0A178WF56,F4I3J1,A0A178WF56F4I3J1,F4I3J1A0A178WF56
481646,99.390,A0MES8,A0A654F0J2,A0MES8A0A654F0J2,A0A654F0J2A0MES8
481647,99.085,A0MES8,A0A178VY49,A0MES8A0A178VY49,A0A178VY49A0MES8
481648,78.049,A0MES8,A0A3B5Y0P5,A0MES8A0A3B5Y0P5,A0A3B5Y0P5A0MES8

In [24]:
import numpy as np
r7 = r5.groupby(['g1','g2','g2t','pd1','pd2']).agg(cont =('eentity','size'),dic=('eentity',pd.Series.nunique))
r7.reset_index(inplace=True)
r7.head()

In [27]:
len(r7)

26879373

In [28]:
r7['qs']=r7['pd1'] + r7['pd2']
r7.head()

,g1,g2,g2t,pd1,pd2,cont,dic,qs
0,0.0,7.0,disease_resistance,A0A3B6PPF4,Q9LYU4,3,2,A0A3B6PPF4Q9LYU4
1,0.0,515.0,drought_resistance,A0A3B6PPF4,P41916,1,1,A0A3B6PPF4P41916
2,0.0,543.0,drought_resistance,A0A3B6PPF4,P43296,1,1,A0A3B6PPF4P43296
3,0.0,543.0,salt_resistance,A0A3B6PPF4,P43296,1,1,A0A3B6PPF4P43296
4,0.0,561.0,drought_resistance,A0A3B6PPF4,P43297,1,1,A0A3B6PPF4P43297

In [29]:
r8 = r7[(r7['qs'].isin(search['qs'].values))|(r7['qs'].isin(search['sq'].values))]
len(r8)

216912

In [30]:
res1 = pd.merge(r8,search[['qs','identity']],left_on='qs',right_on='qs')
len(res1)

1851

In [31]:
res2 = pd.merge(r8,search[['sq','identity']],left_on='qs',right_on='sq')
res2.head()

,g1,g2,g2t,pd1,pd2,cont,dic,qs,sq,identity
0,0.0,2807.0,drought_resistance,A0A3B6PPF4,Q7G1L2,4,3,A0A3B6PPF4Q7G1L2,A0A3B6PPF4Q7G1L2,81.034
1,0.0,2807.0,salt_resistance,A0A3B6PPF4,Q7G1L2,4,3,A0A3B6PPF4Q7G1L2,A0A3B6PPF4Q7G1L2,81.034
2,0.0,63017.0,drought_resistance,A0A3B6PPF4,O80340,4,3,A0A3B6PPF4O80340,A0A3B6PPF4O80340,70.690
3,0.0,63017.0,salt_resistance,A0A3B6PPF4,O80340,4,3,A0A3B6PPF4O80340,A0A3B6PPF4O80340,70.690
4,1.0,2807.0,drought_resistance,A0A3B6NU93,Q7G1L2,4,3,A0A3B6NU93Q7G1L2,A0A3B6NU93Q7G1L2,81.034

In [32]:
len(res2)

215061

In [33]:
res = pd.concat([res1[['g1','g2','g2t','pd1','pd2','cont','dic','identity']],res2[['g1','g2','g2t','pd1','pd2','cont','dic','identity']]])
len(res)

216912

In [34]:
res.head()

     g1      g2                 g2t     pd1     pd2  cont  dic  identity
0   7.0  8255.0  disease_resistance  Q9LYU4  Q2R3B4     3    3    49.231
1   7.0  8273.0   insect_resistance  Q9LYU4  Q9SKE2     2    2    37.133
2   7.0  8279.0  disease_resistance  Q9LYU4  Q53P49     3    3    35.679
3  41.0    55.0  disease_resistance  P0C5E2  Q8VYG0     7    3    43.222
4  41.0    59.0  disease_resistance  P0C5E2  F4HQ17     7    3    42.451

In [35]:
res['score']=res['cont']*res['dic']*res['identity']
res.head()

,g1,g2,g2t,pd1,pd2,cont,dic,identity,score
0,7.0,8255.0,disease_resistance,Q9LYU4,Q2R3B4,3,3,49.231,443.079
1,7.0,8273.0,insect_resistance,Q9LYU4,Q9SKE2,2,2,37.133,148.532
2,7.0,8279.0,disease_resistance,Q9LYU4,Q53P49,3,3,35.679,321.111
3,41.0,55.0,disease_resistance,P0C5E2,Q8VYG0,7,3,43.222,907.662
4,41.0,59.0,disease_resistance,P0C5E2,F4HQ17,7,3,42.451,891.471

In [36]:
len(res)

216912

In [37]:
res3 = res[res['score']>=502.36]
len(res3)

111469

In [63]:
res3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111469 entries, 3 to 215060
Data columns (total 9 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   g1        111469 non-null  float64
 1   g2        111469 non-null  float64
 2   g2t       111469 non-null  object
 3   pd1       111469 non-null  object
 4   pd2       111469 non-null  object
 5   cont      111469 non-null  int64
 6   dic       111469 non-null  int64
 7   identity  111469 non-null  float64
 8   score     111469 non-null  float64
dtypes: float64(4), int64(2), object(3)
memory usage: 8.5+ MB

In [64]:
res3.head(10)

,g1,g2,g2t,pd1,pd2,cont,dic,identity,score
3,41.0,55.0,disease_resistance,P0C5E2,Q8VYG0,7,3,43.222,907.662
4,41.0,59.0,disease_resistance,P0C5E2,F4HQ17,7,3,42.451,891.471
5,41.0,73.0,disease_resistance,P0C5E2,Q9C6K9,7,3,42.399,890.379
6,41.0,76.0,disease_resistance,P0C5E2,Q8RY67,6,3,49.836,897.048
7,41.0,82.0,disease_resistance,P0C5E2,Q8GYF5,5,3,44.590,668.850
8,41.0,147.0,disease_resistance,P0C5E2,Q9M342,5,3,45.645,684.675
9,55.0,73.0,disease_resistance,Q8VYG0,Q9C6K9,8,4,43.344,1387.008
10,55.0,10880.0,disease_resistance,Q8VYG0,Q8RY17,7,4,43.003,1204.084
11,59.0,55.0,disease_resistance,F4HQ17,Q8VYG0,9,4,62.819,2261.484
12,59.0,73.0,disease_resistance,F4HQ17,Q9C6K9,8,4,41.896,1340.672

In [40]:
import numpy as np
j1=j[['Trait']]
j1.rename(columns={"Trait":"g2t"},inplace=True)
j1['g1']=j[['Gid']]
j1['g2']=j[['Gid']]
j1['pd1']=np.NAN
j1['pd2']=np.NAN
j1['cont']=np.NAN
j1['dic']=np.NAN
j1['identity']=np.NAN
j1['score']=np.NAN
j1.head()

                  g2t       g1       g2  pd1  pd2  cont  dic  identity  score
0  drought_resistance  62514.0  62514.0  NaN  NaN   NaN  NaN       NaN    NaN
1     salt_resistance  62514.0  62514.0  NaN  NaN   NaN  NaN       NaN    NaN
2  drought_resistance  62515.0  62515.0  NaN  NaN   NaN  NaN       NaN    NaN
3     salt_resistance  62515.0  62515.0  NaN  NaN   NaN  NaN       NaN    NaN
4  drought_resistance  62555.0  62555.0  NaN  NaN   NaN  NaN       NaN    NaN

In [41]:
res4 = pd.concat([res3,j1])
res4.head()

,g1,g2,g2t,pd1,pd2,cont,dic,identity,score
3,41.0,55.0,disease_resistance,P0C5E2,Q8VYG0,7.0,3.0,43.222,907.662
4,41.0,59.0,disease_resistance,P0C5E2,F4HQ17,7.0,3.0,42.451,891.471
5,41.0,73.0,disease_resistance,P0C5E2,Q9C6K9,7.0,3.0,42.399,890.379
6,41.0,76.0,disease_resistance,P0C5E2,Q8RY67,6.0,3.0,49.836,897.048
7,41.0,82.0,disease_resistance,P0C5E2,Q8GYF5,5.0,3.0,44.590,668.850

In [42]:
res4 = pd.merge(res4,data[['id','GeneID']],left_on='g1',right_on='id')
res4.drop(columns=['id'],inplace=True)
res4.head()

,g1,g2,g2t,pd1,pd2,cont,dic,identity,score,GeneID
0,41.0,55.0,disease_resistance,P0C5E2,Q8VYG0,7.0,3.0,43.222,907.662,AT1G18390
1,41.0,59.0,disease_resistance,P0C5E2,F4HQ17,7.0,3.0,42.451,891.471,AT1G18390
2,41.0,73.0,disease_resistance,P0C5E2,Q9C6K9,7.0,3.0,42.399,890.379,AT1G18390
3,41.0,76.0,disease_resistance,P0C5E2,Q8RY67,6.0,3.0,49.836,897.048,AT1G18390
4,41.0,82.0,disease_resistance,P0C5E2,Q8GYF5,5.0,3.0,44.590,668.850,AT1G18390

In [43]:
res4.rename(columns={'g1':'g1','g2':'g2','g2t':'g2t','pd1':'pd1','pd2':'pd2','cont':'cont','dic':'dic','identity':'identity','score':'score','GeneID':'GeneID1'},inplace=True)
res4.head()

,g1,g2,g2t,pd1,pd2,cont,dic,identity,score,GeneID1
0,41.0,55.0,disease_resistance,P0C5E2,Q8VYG0,7.0,3.0,43.222,907.662,AT1G18390
1,41.0,59.0,disease_resistance,P0C5E2,F4HQ17,7.0,3.0,42.451,891.471,AT1G18390
2,41.0,73.0,disease_resistance,P0C5E2,Q9C6K9,7.0,3.0,42.399,890.379,AT1G18390
3,41.0,76.0,disease_resistance,P0C5E2,Q8RY67,6.0,3.0,49.836,897.048,AT1G18390
4,41.0,82.0,disease_resistance,P0C5E2,Q8GYF5,5.0,3.0,44.590,668.850,AT1G18390

In [44]:
res4 = pd.merge(res4,data[['id','GeneID']],left_on='g2',right_on='id')
res4.drop(columns=['id'],inplace=True)
res4.rename(columns={'g1':'g1','g2':'g2','g2t':'g2t','pd1':'pd1','pd2':'pd2','cont':'cont','dic':'dic','identity':'identity','score':'score','GeneID1':'GeneID1','GeneID':'GeneID2'},inplace=True)
res4.head()

,g1,g2,g2t,pd1,pd2,cont,dic,identity,score,GeneID1,GeneID2
0,41.0,55.0,disease_resistance,P0C5E2,Q8VYG0,7.0,3.0,43.222,907.662,AT1G18390,AT5G38210
1,41.0,55.0,disease_resistance,A0A178WH09,Q8VYG0,7.0,3.0,43.222,907.662,AT1G18390,AT5G38210
2,41.0,55.0,disease_resistance,A0A5S9V131,Q8VYG0,7.0,3.0,42.615,894.915,AT1G18390,AT5G38210
3,41.0,55.0,disease_resistance,A0A7G2DTS1,Q8VYG0,7.0,3.0,36.620,769.020,AT1G18390,AT5G38210
4,41.0,55.0,disease_resistance,P0C5E2-2,Q8VYG0,7.0,3.0,42.769,898.149,AT1G18390,AT5G38210

In [45]:
res4.to_csv('duoxiao03.csv',index=False)

In [46]:
len(res4)

112704

In [47]:
res5 = res4.groupby(['GeneID1']).agg(cont =('g2t',set),g2 =('GeneID2',set),dic=('g2t',pd.Series.nunique),score =('score',set))
res5.reset_index(inplace=True)
res5.head()

,GeneID1,cont,g2,dic,score
0,AT1G01140,"{salt_resistance, disease_resistance, drought_...","{LOC_Os03g41460, LOC_Os03g55600, LOC_Os11g0397...",3,"{640.63, 1287.072, 1298.88, 662.04, 665.199999..."
1,AT1G01250,"{salt_resistance, drought_resistance}","{AT4G25480, AT1G43160}",2,"{690.0, 611.76, 980.4000000000001, 989.9}"
2,AT1G01260,{insect_resistance},{AT5G46760},1,"{858.132, 827.8019999999999}"
3,AT1G01300,{drought_resistance},{AT3G18490},1,{504.198}
4,AT1G01340,"{disease_resistance, salt_resistance}",{AT5G15410},2,"{668.394, 663.804}"

In [48]:
len(res5)

13961

In [49]:
res5 = pd.merge(res5,data[['id','GeneID']],left_on='g1',right_on='id')
res5.drop(columns=['id'],inplace=True)
len(res5)

In [50]:
res5.head()

,GeneID1,cont,g2,dic,score
0,AT1G01140,"{salt_resistance, disease_resistance, drought_...","{LOC_Os03g41460, LOC_Os03g55600, LOC_Os11g0397...",3,"{640.63, 1287.072, 1298.88, 662.04, 665.199999..."
1,AT1G01250,"{salt_resistance, drought_resistance}","{AT4G25480, AT1G43160}",2,"{690.0, 611.76, 980.4000000000001, 989.9}"
2,AT1G01260,{insect_resistance},{AT5G46760},1,"{858.132, 827.8019999999999}"
3,AT1G01300,{drought_resistance},{AT3G18490},1,{504.198}
4,AT1G01340,"{disease_resistance, salt_resistance}",{AT5G15410},2,"{668.394, 663.804}"

In [51]:
res5.dic.value_counts()

1    9513
2    2878
3    1425
4     111
5      34
Name: dic, dtype: int64

In [52]:
y = pd.read_csv('./已证实基因1235.csv')
y = y.drop_duplicates(subset=['GeneID','Trait'])
y = y.groupby("GeneID").agg(Trait_list=("Trait",list),Trait_num=("Trait","count")).reset_index()
y.head()

      GeneID                             Trait_list  Trait_num
0  AT1G02860                   [disease_resistance]          1
1  AT1G03060  [disease_resistance, salt_resistance]          2
2  AT1G04120                      [salt_resistance]          1
3  AT1G04180                   [drought_resistance]          1
4  AT1G05340                   [drought_resistance]          1

In [53]:
y.Trait_num.value_counts()

1    874
2    131
3     21
4      1
Name: Trait_num, dtype: int64

In [54]:
y[y['Trait_num']==4]

       GeneID                                         Trait_list  Trait_num
70  AT1G59870  [drought_resistance, disease_resistance, insec...          4

In [55]:
res5[res5['dic']==5]

,GeneID1,cont,g2,dic,score
10,AT1G01720,"{disease_resistance, drought_resistance, plant...","{LOC_Os11g08210, AT3G49530, LOC_Os03g21060, LO...",5,"{546.936, 707.01, 777.78, 1195.95, 1357.139999..."
434,AT1G52880,"{disease_resistance, drought_resistance, plant...","{LOC_Os11g08210, LOC_Os03g21060, AT5G64530, LO...",5,"{611.3249999999999, 581.364, 592.686, 532.545,..."
504,AT1G61110,"{disease_resistance, drought_resistance, plant...","{LOC_Os11g08210, LOC_Os03g21060, LOC_Os04g3872...",5,"{1121.1480000000001, 610.344, 583.929, 587.421..."
712,AT1G76420,"{disease_resistance, drought_resistance, plant...","{AT3G49530, LOC_Os12g03050, AT3G10500, LOC_Os1...",5,"{512.901, 994.08, 740.265, 647.856, 655.212, 7..."
725,AT1G77450,"{disease_resistance, drought_resistance, plant...","{LOC_Os11g08210, LOC_Os03g21060, AT3G10500, LO...",5,"{838.704, 910.98, 566.664, 630.0, 506.36400000..."
1289,AT3G15510,"{disease_resistance, drought_resistance, plant...","{LOC_Os11g08210, LOC_Os03g21060, AT5G64530, LO...",5,"{514.287, 582.354, 601.8389999999999, 538.05, ..."
1437,AT3G29035,"{disease_resistance, drought_resistance, plant...","{AT3G49530, LOC_Os03g21060, LOC_Os12g03050, AT...",5,"{788.955, 537.993, 543.015, 548.118, 552.276, ..."
2668,AT5G53950,"{disease_resistance, drought_resistance, plant...","{AT3G49530, LOC_Os12g03050, AT3G10500, LOC_Os1...",5,"{577.269, 610.9110000000001, 1156.86, 581.139,..."
3715,LOC_Os04g38720,"{disease_resistance, drought_resistance, plant...","{LOC_Os11g08210, LOC_Os03g21060, LOC_Os12g0305...",5,"{nan, 578.142, 675.0, 547.155, 774.684, 650.69..."
4697,LOC_Os11g03370,"{disease_resistance, drought_resistance, plant...","{LOC_Os11g08210, LOC_Os12g03050, LOC_Os11g0337...",5,"{nan, nan, nan, 586.3679999999999, 554.352, 62..."
5913,TraesCS2A02G101000,"{disease_resistance, drought_resistance, plant...","{AT5G39610, LOC_Os11g03370, TraesCS2D02G324700...",5,"{568.152, 532.458, 509.09400000000005, 519.048}"
5916,TraesCS2A02G101400,"{disease_resistance, drought_resistance, plant...","{AT5G39610, LOC_Os11g03370, TraesCS2D02G324700...",5,"{536.1659999999999, 517.1310000000001, 531.603..."
5970,TraesCS2A02G201800,"{disease_resistance, drought_resistance, plant...","{AT5G64530, LOC_Os11g08210, LOC_Os03g21060, LO...",5,"{510.39, 510.76800000000003, 553.122, 533.664,..."
6051,TraesCS2A02G338300,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, AT3G10500, LOC_Os11g03370, LO...",5,"{544.734, 872.1089999999999, 520.317, 874.647,..."
6216,TraesCS2B02G118400,"{disease_resistance, drought_resistance, plant...","{AT5G39610, LOC_Os11g03370, TraesCS2D02G324700...",5,"{537.9300000000001, 549.729, 502.659, 527.589}"
6217,TraesCS2B02G118500,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, LOC_Os11g03370, LOC_Os04g3872...",5,"{514.971, 527.076, 563.7959999999999, 600.003,..."
6268,TraesCS2B02G228900,"{disease_resistance, drought_resistance, plant...","{AT5G64530, LOC_Os11g08210, LOC_Os03g21060, LO...",5,"{513.408, 551.313, 531.279, 531.819, 505.71, 5..."
6331,TraesCS2B02G343600,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, LOC_Os11g03370, TraesCS2D02G3...",5,"{675.0, 872.037, 841.932, 521.595, 874.5749999..."
6526,TraesCS2D02G100600,"{disease_resistance, drought_resistance, plant...","{AT5G39610, LOC_Os11g03370, TraesCS2D02G324700...",5,"{585.279, 514.845, 508.5, 510.939}"
6527,TraesCS2D02G100700,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, LOC_Os11g03370, LOC_Os04g3872...",5,"{512.235, 614.4839999999999, 584.2080000000001..."
6529,TraesCS2D02G100900,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, LOC_Os11g03370, LOC_Os04g3872...",5,"{546.597, 522.099, 556.02, 527.076, 531.603, 5..."
6658,TraesCS2D02G324700,"{grain_weight_increase, disease_resistance, dr...","{LOC_Os03g21060, LOC_Os12g03050, AT3G10500, LO...",5,"{nan, 676.5930000000001, 516.474, 550.656, 521..."
7120,TraesCS3B02G092800,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, LOC_Os11g03370, LOC_Os04g3872...",5,"{612.648, 618.0749999999999, 555.093, 560.475,..."
7121,TraesCS3B02G092900,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, LOC_Os11g03370, LOC_Os04g3872...",5,"{576.765, 515.727, 581.535, 556.254, 557.388, ..."
7464,TraesCS3D02G078500,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, LOC_Os11g03370, LOC_Os04g3872...",5,"{523.728, 587.421, 506.25, 504.39599999999996,..."
7864,TraesCS4A02G242700,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, AT3G10500, LOC_Os11g03370, LO...",5,"{641.25, 643.707, 521.0550000000001, 557.892, ..."
8035,TraesCS4B02G072400,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, AT3G10500, LOC_Os11g03370, LO...",5,"{643.707, 515.133, 552.6360000000001, 590.796,..."
8271,TraesCS4D02G071200,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, AT3G10500, LOC_Os11g03370, LO...",5,"{649.665, 521.0550000000001, 601.8389999999999..."
8631,TraesCS5A02G275900,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, AT3G10500, LOC_Os11g03370, LO...",5,"{579.996, 675.0, 516.663, 582.0390000000001, 5..."
8820,TraesCS5B02G054200,"{disease_resistance, drought_resistance, plant...","{LOC_Os11g08210, AT3G10500, LOC_Os04g38720, AT...",5,"{513.4590000000001, 580.4369999999999, 510.192..."
10343,TraesCS7A02G334800,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, LOC_Os11g03370, LOC_Os04g3872...",5,"{611.7660000000001, 516.564, 530.064, 569.6189..."
10520,TraesCS7B02G143900,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, LOC_Os11g03370, LOC_Os04g3872...",5,"{515.79, 518.823, 561.177, 566.667, 534.545999..."
10563,TraesCS7B02G246300,"{disease_resistance, drought_resistance, plant...","{AT5G39610, LOC_Os11g03370, TraesCS2D02G324700...",5,"{525.438, 572.724, 589.284, 535.716}"
10861,TraesCS7D02G342300,"{disease_resistance, drought_resistance, plant...","{LOC_Os12g03050, LOC_Os11g03370, LOC_Os04g3872...",5,"{611.7660000000001, 516.564, 530.064, 569.6189..."

In [57]:
res5[res5['GeneID1']=='AT1G01720']['cont'].values

array([{'disease_resistance', 'drought_resistance', 'plant_height_reduce', 'salt_resistance', 'grain_weight_increase'}],
      dtype=object)

In [58]:
res5[res5['GeneID1']=='AT1G01720']['cont'].values

array([{'disease_resistance', 'drought_resistance', 'plant_height_reduce', 'salt_resistance', 'grain_weight_increase'}],
      dtype=object)

In [59]:
k = res4[res4['GeneID1']=='AT1G01720'].sort_values(by=['score'],ascending=False).drop_duplicates(subset=['g2t'])
k

,g1,g2,g2t,pd1,pd2,cont,dic,identity,score,GeneID1,GeneID2
27104,2420.0,2412.0,disease_resistance,A0A2P0YPH5,Q9C598,5.0,3.0,90.476,1357.140,AT1G01720,AT5G08790
27105,2420.0,2412.0,drought_resistance,A0A2P0YPH5,Q9C598,5.0,3.0,90.476,1357.140,AT1G01720,AT5G08790
27106,2420.0,2412.0,salt_resistance,A0A2P0YPH5,Q9C598,5.0,3.0,90.476,1357.140,AT1G01720,AT5G08790
93751,2420.0,28142.0,plant_height_reduce,Q0WWG7,Q8GWK6,4.0,3.0,45.578,546.936,AT1G01720,AT5G64530
27856,2420.0,2463.0,grain_weight_increase,Q0WWG7,Q8H7M1,3.0,3.0,60.000,540.000,AT1G01720,LOC_Os03g21060

In [60]:
res5['GeneID1'][res5['dic']==5].values

array(['AT1G01720', 'AT1G52880', 'AT1G61110', 'AT1G76420', 'AT1G77450',
       'AT3G15510', 'AT3G29035', 'AT5G53950', 'LOC_Os04g38720',
       'LOC_Os11g03370', 'TraesCS2A02G101000', 'TraesCS2A02G101400',
       'TraesCS2A02G201800', 'TraesCS2A02G338300', 'TraesCS2B02G118400',
       'TraesCS2B02G118500', 'TraesCS2B02G228900', 'TraesCS2B02G343600',
       'TraesCS2D02G100600', 'TraesCS2D02G100700', 'TraesCS2D02G100900',
       'TraesCS2D02G324700', 'TraesCS3B02G092800', 'TraesCS3B02G092900',
       'TraesCS3D02G078500', 'TraesCS4A02G242700', 'TraesCS4B02G072400',
       'TraesCS4D02G071200', 'TraesCS5A02G275900', 'TraesCS5B02G054200',
       'TraesCS7A02G334800', 'TraesCS7B02G143900', 'TraesCS7B02G246300',
       'TraesCS7D02G342300'], dtype=object)

In [61]:
for i in res5['GeneID1'][res5['dic']==5].values:
    k = res4[res4['GeneID1']==i].sort_values(by=['score'],ascending=False).drop_duplicates(subset=['g2t'])
    print(k[['g2t','score','GeneID1','GeneID2']])

                         g2t     score    GeneID1         GeneID2
27104     disease_resistance  1357.140  AT1G01720       AT5G08790
27105     drought_resistance  1357.140  AT1G01720       AT5G08790
27106        salt_resistance  1357.140  AT1G01720       AT5G08790
93751    plant_height_reduce   546.936  AT1G01720       AT5G64530
27856  grain_weight_increase   540.000  AT1G01720  LOC_Os03g21060
                         g2t    score    GeneID1         GeneID2
27311     disease_resistance  765.000  AT1G52880       AT5G08790
27313        salt_resistance  765.000  AT1G52880       AT5G08790
27315     drought_resistance  765.000  AT1G52880       AT5G08790
27919  grain_weight_increase  592.686  AT1G52880  LOC_Os03g21060
93764    plant_height_reduce  532.545  AT1G52880       AT5G64530
                         g2t     score    GeneID1         GeneID2
27239     disease_resistance  1131.426  AT1G61110       AT5G08790
27240     drought_resistance  1131.426  AT1G61110       AT5G08790
27241        salt_resistance  1131.426  AT1G61110       AT5G08790
93759    plant_height_reduce   631.575  AT1G61110       AT5G64530
27904  grain_weight_increase   610.344  AT1G61110  LOC_Os03g21060
                         g2t    score    GeneID1             GeneID2
28039        salt_resistance  994.080  AT1G76420           AT5G39610
37957     drought_resistance  783.870  AT1G76420           AT3G10500
27422     disease_resistance  655.212  AT1G76420           AT5G08790
29405  grain_weight_increase  562.500  AT1G76420      LOC_Os04g38720
29471    plant_height_reduce  529.416  AT1G76420  TraesCS2D02G324700
                         g2t     score    GeneID1         GeneID2
27131     disease_resistance  1435.590  AT1G77450       AT5G08790
27133        salt_resistance  1435.590  AT1G77450       AT5G08790
27135     drought_resistance  1435.590  AT1G77450       AT5G08790
27861  grain_weight_increase   572.724  AT1G77450  LOC_Os03g21060
93752    plant_height_reduce   506.364  AT1G77450       AT5G64530
                         g2t    score    GeneID1         GeneID2
27263     disease_resistance  990.570  AT3G15510       AT5G08790
27265        salt_resistance  990.570  AT3G15510       AT5G08790
27267     drought_resistance  990.570  AT3G15510       AT5G08790
27913  grain_weight_increase  601.839  AT3G15510  LOC_Os03g21060
93762    plant_height_reduce  538.050  AT3G15510       AT5G64530
                         g2t     score    GeneID1             GeneID2
28046        salt_resistance  1918.920  AT3G29035           AT5G39610
27449     disease_resistance  1123.563  AT3G29035           AT5G08790
27450     drought_resistance  1123.563  AT3G29035           AT5G08790
29406  grain_weight_increase   633.960  AT3G29035      LOC_Os04g38720
29474    plant_height_reduce   571.761  AT3G29035  TraesCS2D02G324700
                         g2t     score    GeneID1             GeneID2
28057        salt_resistance  1156.860  AT5G53950           AT5G39610
37968     drought_resistance   806.250  AT5G53950           AT3G10500
27467     disease_resistance   653.844  AT5G53950           AT5G08790
29411  grain_weight_increase   649.998  AT5G53950      LOC_Os04g38720
29477    plant_height_reduce   610.911  AT5G53950  TraesCS2D02G324700
                         g2t    score         GeneID1             GeneID2
29447    plant_height_reduce  774.684  LOC_Os04g38720  TraesCS2D02G324700
27937        salt_resistance  675.000  LOC_Os04g38720           AT5G39610
27823  grain_weight_increase  624.852  LOC_Os04g38720      LOC_Os03g21060
28824     drought_resistance  589.653  LOC_Os04g38720      LOC_Os11g03370
28823     disease_resistance  589.653  LOC_Os04g38720      LOC_Os11g03370
                         g2t    score         GeneID1             GeneID2
27943        salt_resistance  887.100  LOC_Os11g03370           AT5G39610
29174     disease_resistance  624.816  LOC_Os11g03370      LOC_Os12g03050
26994     drought_resistance  586.368  LOC_Os11g03370           AT5G08790
29356  grain_weight_increase  542.106  LOC_Os11g03370      LOC_Os04g38720
29449    plant_height_reduce  504.396  LOC_Os11g03370  TraesCS2D02G324700
                         g2t    score             GeneID1             GeneID2
28082        salt_resistance  568.152  TraesCS2A02G101000           AT5G39610
29419  grain_weight_increase  532.458  TraesCS2A02G101000      LOC_Os04g38720
29492    plant_height_reduce  519.048  TraesCS2A02G101000  TraesCS2D02G324700
29078     disease_resistance  509.094  TraesCS2A02G101000      LOC_Os11g03370
29079     drought_resistance  509.094  TraesCS2A02G101000      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
28083        salt_resistance  541.881  TraesCS2A02G101400           AT5G39610
29420  grain_weight_increase  536.166  TraesCS2A02G101400      LOC_Os04g38720
29493    plant_height_reduce  531.603  TraesCS2A02G101400  TraesCS2D02G324700
29081     disease_resistance  517.131  TraesCS2A02G101400      LOC_Os11g03370
29082     drought_resistance  517.131  TraesCS2A02G101400      LOC_Os11g03370
                         g2t    score             GeneID1         GeneID2
28301     drought_resistance  553.122  TraesCS2A02G201800  LOC_Os03g60080
28302        salt_resistance  553.122  TraesCS2A02G201800  LOC_Os03g60080
27888  grain_weight_increase  534.375  TraesCS2A02G201800  LOC_Os03g21060
93755    plant_height_reduce  510.768  TraesCS2A02G201800       AT5G64530
27697     disease_resistance  510.003  TraesCS2A02G201800  LOC_Os11g08210
                         g2t    score             GeneID1             GeneID2
29462    plant_height_reduce  888.822  TraesCS2A02G338300  TraesCS2D02G324700
29389  grain_weight_increase  783.117  TraesCS2A02G338300      LOC_Os04g38720
27997        salt_resistance  670.212  TraesCS2A02G338300           AT5G39610
29238     disease_resistance  569.385  TraesCS2A02G338300      LOC_Os12g03050
28950     drought_resistance  544.734  TraesCS2A02G338300      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
28089        salt_resistance  549.729  TraesCS2B02G118400           AT5G39610
29422  grain_weight_increase  537.930  TraesCS2B02G118400      LOC_Os04g38720
29498    plant_height_reduce  527.589  TraesCS2B02G118400  TraesCS2D02G324700
29099     disease_resistance  502.659  TraesCS2B02G118400      LOC_Os11g03370
29100     drought_resistance  502.659  TraesCS2B02G118400      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
28128        salt_resistance  600.003  TraesCS2B02G118500           AT5G39610
29440  grain_weight_increase  574.137  TraesCS2B02G118500      LOC_Os04g38720
29515    plant_height_reduce  563.796  TraesCS2B02G118500  TraesCS2D02G324700
29147     disease_resistance  527.076  TraesCS2B02G118500      LOC_Os11g03370
29148     drought_resistance  527.076  TraesCS2B02G118500      LOC_Os11g03370
                         g2t    score             GeneID1         GeneID2
28311     drought_resistance  551.313  TraesCS2B02G228900  LOC_Os03g60080
28312        salt_resistance  551.313  TraesCS2B02G228900  LOC_Os03g60080
27891  grain_weight_increase  531.279  TraesCS2B02G228900  LOC_Os03g21060
93757    plant_height_reduce  513.408  TraesCS2B02G228900       AT5G64530
27705     disease_resistance  505.710  TraesCS2B02G228900  LOC_Os11g08210
                         g2t    score             GeneID1             GeneID2
29457    plant_height_reduce  877.122  TraesCS2B02G343600  TraesCS2D02G324700
29383  grain_weight_increase  841.932  TraesCS2B02G343600      LOC_Os04g38720
29225        salt_resistance  521.595  TraesCS2B02G343600      LOC_Os12g03050
29226     disease_resistance  521.595  TraesCS2B02G343600      LOC_Os12g03050
28929     drought_resistance  509.337  TraesCS2B02G343600      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
29429  grain_weight_increase  585.279  TraesCS2D02G100600      LOC_Os04g38720
28098        salt_resistance  514.845  TraesCS2D02G100600           AT5G39610
29504    plant_height_reduce  510.939  TraesCS2D02G100600  TraesCS2D02G324700
29123     disease_resistance  508.500  TraesCS2D02G100600      LOC_Os11g03370
29124     drought_resistance  508.500  TraesCS2D02G100600      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
29512    plant_height_reduce  638.064  TraesCS2D02G100700  TraesCS2D02G324700
29438  grain_weight_increase  614.484  TraesCS2D02G100700      LOC_Os04g38720
28124        salt_resistance  596.250  TraesCS2D02G100700           AT5G39610
29144     disease_resistance  537.804  TraesCS2D02G100700      LOC_Os11g03370
29145     drought_resistance  537.804  TraesCS2D02G100700      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
28084        salt_resistance  556.020  TraesCS2D02G100900           AT5G39610
29421  grain_weight_increase  540.954  TraesCS2D02G100900      LOC_Os04g38720
29496    plant_height_reduce  536.265  TraesCS2D02G100900  TraesCS2D02G324700
29085     drought_resistance  532.044  TraesCS2D02G100900      LOC_Os11g03370
29084     disease_resistance  532.044  TraesCS2D02G100900      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
29376  grain_weight_increase  790.389  TraesCS2D02G324700      LOC_Os04g38720
27985        salt_resistance  676.593  TraesCS2D02G324700           AT5G39610
29204     disease_resistance  575.514  TraesCS2D02G324700      LOC_Os12g03050
28905     drought_resistance  550.656  TraesCS2D02G324700      LOC_Os11g03370
29453    plant_height_reduce      NaN  TraesCS2D02G324700  TraesCS2D02G324700

                         g2t    score             GeneID1             GeneID2
28077        salt_resistance  618.075  TraesCS3B02G092800           AT5G39610
29417  grain_weight_increase  560.475  TraesCS3B02G092800      LOC_Os04g38720
29063     disease_resistance  538.983  TraesCS3B02G092800      LOC_Os11g03370
29064     drought_resistance  538.983  TraesCS3B02G092800      LOC_Os11g03370
29487    plant_height_reduce  536.931  TraesCS3B02G092800  TraesCS2D02G324700
                         g2t    score             GeneID1             GeneID2
29484    plant_height_reduce  581.535  TraesCS3B02G092900  TraesCS2D02G324700
29414  grain_weight_increase  576.765  TraesCS3B02G092900      LOC_Os04g38720
29045     disease_resistance  570.420  TraesCS3B02G092900      LOC_Os11g03370
29047        salt_resistance  570.420  TraesCS3B02G092900      LOC_Os11g03370
29046     drought_resistance  570.420  TraesCS3B02G092900      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
28111        salt_resistance  587.421  TraesCS3D02G078500           AT5G39610
29430  grain_weight_increase  538.920  TraesCS3D02G078500      LOC_Os04g38720
29126     disease_resistance  523.728  TraesCS3D02G078500      LOC_Os11g03370
29127     drought_resistance  523.728  TraesCS3D02G078500      LOC_Os11g03370
29505    plant_height_reduce  506.250  TraesCS3D02G078500  TraesCS2D02G324700
                         g2t    score             GeneID1             GeneID2
28028        salt_resistance  643.707  TraesCS4A02G242700           AT5G39610
29402  grain_weight_increase  641.250  TraesCS4A02G242700      LOC_Os04g38720
29466    plant_height_reduce  607.365  TraesCS4A02G242700  TraesCS2D02G324700
28967     disease_resistance  565.866  TraesCS4A02G242700      LOC_Os11g03370
28968     drought_resistance  565.866  TraesCS4A02G242700      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
28009        salt_resistance  643.707  TraesCS4B02G072400           AT5G39610
29397  grain_weight_increase  630.000  TraesCS4B02G072400      LOC_Os04g38720
29463    plant_height_reduce  590.796  TraesCS4B02G072400  TraesCS2D02G324700
28961     disease_resistance  560.475  TraesCS4B02G072400      LOC_Os11g03370
28962     drought_resistance  560.475  TraesCS4B02G072400      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
28011        salt_resistance  649.665  TraesCS4D02G071200           AT5G39610
29399  grain_weight_increase  635.625  TraesCS4D02G071200      LOC_Os04g38720
29464    plant_height_reduce  601.839  TraesCS4D02G071200  TraesCS2D02G324700
28964     disease_resistance  571.257  TraesCS4D02G071200      LOC_Os11g03370
28965     drought_resistance  571.257  TraesCS4D02G071200      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
28061        salt_resistance  689.517  TraesCS5A02G275900           AT5G39610
29413  grain_weight_increase  675.000  TraesCS5A02G275900      LOC_Os04g38720
29480    plant_height_reduce  660.483  TraesCS5A02G275900  TraesCS2D02G324700
29021     disease_resistance  602.253  TraesCS5A02G275900      LOC_Os11g03370
29022     drought_resistance  602.253  TraesCS5A02G275900      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
29363  grain_weight_increase  606.816  TraesCS5B02G054200      LOC_Os04g38720
29451    plant_height_reduce  580.437  TraesCS5B02G054200  TraesCS2D02G324700
27962        salt_resistance  568.746  TraesCS5B02G054200           AT5G39610
28401     drought_resistance  513.459  TraesCS5B02G054200      LOC_Os03g60080
27795     disease_resistance  506.250  TraesCS5B02G054200      LOC_Os11g08210
                         g2t    score             GeneID1             GeneID2
28133        salt_resistance  611.766  TraesCS7A02G334800           AT5G39610
29443  grain_weight_increase  569.619  TraesCS7A02G334800      LOC_Os04g38720
29519    plant_height_reduce  530.064  TraesCS7A02G334800  TraesCS2D02G324700
29159     disease_resistance  516.564  TraesCS7A02G334800      LOC_Os11g03370
29160     drought_resistance  516.564  TraesCS7A02G334800      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
29433  grain_weight_increase  566.667  TraesCS7B02G143900      LOC_Os04g38720
28118        salt_resistance  561.177  TraesCS7B02G143900           AT5G39610
29507    plant_height_reduce  534.546  TraesCS7B02G143900  TraesCS2D02G324700
29340     disease_resistance  518.823  TraesCS7B02G143900      LOC_Os12g03050
29133     drought_resistance  515.790  TraesCS7B02G143900      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
28097        salt_resistance  589.284  TraesCS7B02G246300           AT5G39610
29426  grain_weight_increase  572.724  TraesCS7B02G246300      LOC_Os04g38720
29501    plant_height_reduce  535.716  TraesCS7B02G246300  TraesCS2D02G324700
29120     disease_resistance  525.438  TraesCS7B02G246300      LOC_Os11g03370
29121     drought_resistance  525.438  TraesCS7B02G246300      LOC_Os11g03370
                         g2t    score             GeneID1             GeneID2
28132        salt_resistance  611.766  TraesCS7D02G342300           AT5G39610
29442  grain_weight_increase  569.619  TraesCS7D02G342300      LOC_Os04g38720
29518    plant_height_reduce  530.064  TraesCS7D02G342300  TraesCS2D02G324700
29156     disease_resistance  516.564  TraesCS7D02G342300      LOC_Os11g03370
29157     drought_resistance  516.564  TraesCS7D02G342300      LOC_Os11g03370